.LogoHero{
    background-image: url("../images/Logo.png");
    background-size: cover;
    display: block;
    height:15vh;
    width:5vw;
}

.MainPageHeroImage{
    background-image: url("../images/header.jpg");
    background-position: center;
    background-size: cover;
    display: relative;
    height:77vh;
}

.bgMainPage{
    background: #000324 0% 0% no-repeat padding-box;
    opacity: 0.8;
}

.HamsterHomeJpg{
    background-image: url("../images/hamsterhomejpg.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 420px
}

.OurRoomsBackground{
    background-image: url("../images/bg2.jpg");
    background-position: center;
    background-size: cover;
    display: relative;
    height:100%;

}

.HamsterWedding{
    background-image: url("../images/hamsterwedding.jpg");
    background-position: center;
    background-size: cover;
    display: relative;
    height:30vh;
}

.bgAmenities{
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
    display: relative;
    height:56vh;
}

.HamsterReserve{
    background-position: center;
    background-size: cover;
    display: relative;
    height:20rem;
    object-fit: cover;
    width:100%;
}

.HamsterSpring{

    background-image: url("../images/hamsterspring.jpg");
    background-position: center;
    background-size: cover;
    display: relative;
    height:30vh;
}

.HamsterCheese{

    background-image: url("../images/hamstercheese.jpg");
    background-position: center;
    background-size: cover;
    display: relative;
    height:30vh;
}

.bgDarkBlue{
    background: #000324 ;
}

.Cwhite{
   color: #E5FEFF;
}

.logo{
    width:100%;
    height: auto;
    max-width: 400px;
}

.navbar-toggler{
    background-color: rgb(255, 255, 255, 0.671);
}
.nav-link{
    color:white !important;
}

.FontDosis20-26{
    font: normal normal normal 20px/26px Dosis;
}

.FontSans16{
    font: normal normal normal 16px/20px Source Sans Pro;
    font-size: 20px;
}
.FontSans16-20{
    font: normal normal normal 16px/20px Source Sans Pro;
}

.FontDosis45-57{
    font: normal normal normal 45px/57px Dosis;
    font-size: 50px;
}

.FontDosis35-44{
    font: normal normal normal 35px/44px Dosis;
}

.MTMainPageBox{
    margin-top: 120px;
}

.MLtextHamster{
margin-left: 80px;
}

.FontSansBlue{
    color: #1A1B26;
}

.MTlogosHamster{
    margin-top: 10px;
}

.MTlogosHamster2{
    margin-top: 50px;
}

.MTlogosHamster3{
    margin-top: 40px;
}

.MTHamsterReserve{
    margin-top: 300px;
}

.box{
    background-color: #000324;
}

.MTBox{
    margin-top: 500px;
}

.form-control{
    border-radius: 0;
}

.border-radius{
    border-radius: 0;
}

.FontOurRoomsCardDosis{
 font: normal normal normal 25px/32px Dosis;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.FontSansOurRooms{
font: normal normal normal 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.FontSansBold
{
font: normal normal bold 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.SquareButton{
border-radius: 0;   
background: #004CC7 0% 0% no-repeat padding-box;
opacity: 1;
}

.FontDosisPackages{
font: normal normal normal 35px/44px Dosis;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.FontDosisTextPackages{
font: normal normal normal 25px/32px Dosis;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}
.FontSansTextPackages{
font: normal normal normal 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #1F51A8;
opacity: 1;
}
.FontPSansTextPackages{
font: normal normal normal 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.FontAmentitesTitle{
font: normal normal normal 35px/44px Dosis;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.FontTextAmenitiesB{
 font: normal normal normal 16px/20px Source Sans Pro;
font-size: larger;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.FontLogosText{
    font: normal normal bold 20px/25px Source Sans Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1; 
}

.FontReserve{
 font: normal normal bold 20px/25px Source Sans Pro;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.FontReserveRoomTitel{
font: normal normal normal 35px/44px Dosis;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.FontReserRoomBtnText{
font: normal normal normal 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #E5FEFF;
opacity: 1;
}

.FontFooterText{
font: normal normal normal 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #E5FEFF;
opacity: 1;
}

.marginTopMainpageText{
    margin-top: 275px;
}

.marginBottomMainPageText{
    margin-bottom: 140px;
}

.HeaderFontText{
    font: normal normal normal 20px/26px Dosis;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: x-large;
}

.HeaderButton{
border-radius: 0;   
background: #000324 0% 0% no-repeat padding-box;
opacity: 1;
border: 3px solid #E5FEFF;
}

.marginBottomFooter{
    margin-bottom: 90px;
}